{% if page.category == "blog" %}
<form class="subscribe" onsubmit="submitEmail()">
  <input type="email" name="email" id="email" placeholder="Your Email" required="">
  <input type="submit" id="submit-email-button" value="Sign up for our newsletter">
</form>
{% endif %}
<div class="coffin {{page.category}}" data-coffin="toggle">
  <button class="logo"></button>
  <div class="padding"></div>
  <ul class="nav">
    <li>
      <a data-coffin="click" href="/" class="home-link">Home</a>
    </li>
    <li>
      <a data-coffin="click" href="/images" class="images-link">Images</a>
    </li>
    <li>
      <a data-coffin="click" href="/start" class="start-link">Get Started</a>
    </li>
  </ul>
  <div class="nav-footer">
    <ul>
      <li>
        <a data-coffin="click" href="/blog/" class="blog-link">Blog</a>
      </li>
      <li>
        <a data-coffin="click" href="/faq" class="faq-link">FAQs</a>
      </li>
      <li>
        <a data-coffin="click" href="mailto:team@bowery.io" class="contact-link">Contact</a>
      </li>
    </ul>
  </div>
</div>
