<div class="coffin {{page.category}}" data-coffin="toggle">
  <button class="logo"></button>
  <div class="padding"></div>
  <ul class="nav">
    <li>
      <a data-coffin="click" href="/" class="home-link">Home</a>
    </li>
    <li>
      <a data-coffin="click" href="/images" class="images-link">Images</a>
    </li>
    <li>
      <a data-coffin="click" href="/start" class="start-link">Get Started</a>
    </li>
  </ul>
  <div class="nav-footer">
    <ul>
      <li>
        <a data-coffin="click" href="/blog/" class="blog-link">Blog</a>
      </li>
      <li>
        <a data-coffin="click" href="/faq" class="faq-link">FAQs</a>
      </li>
      <li>
        <a data-coffin="click" href="mailto:hello@bowery.io" class="contact-link">Contact</a>
      </li>
      <li>
        <div class="social">
          <a href="https://twitter.com/boweryio" target="_blank" class="btn link"><i class="fa fa-twitter"></i></a>
          <a href="https://github.com/bowery" target="_blank" class="btn link"><i class="fa fa-github"></i></a>
        </div>
      </li>
    </ul>
  </div>
</div>
