<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="Bowery is a limitless development environment. Run your application in seconds no matter the operating system, programming language, database, or other dependencies. We're dedicated to making every stack easy to use.">
    <meta content="{{ site.title }}" property="og:site_name">
    
    {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
    {% else %}
    <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    
    {% if page.title %}
    <meta content="article" property="og:type">
    {% else %}
    <meta content="website" property="og:type">
    {% endif %}
    
    {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
    {% else %}
    <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    
    {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}

    {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about/" property="article:author">
    {% endif %}

    {% if page.category != "docs" %}
    <link rel="stylesheet" href="/static/coffin.css">
    {% endif%}

    {% if page.category == "blog" %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://bowery.io/blog/feed.xml">
    {% endif %}

    <link rel="stylesheet" href="/static/out.css">
    
    <!-- <link rel="stylesheet" href="//f.fontdeck.com/s/css/kMFVOQjPLDEdfKGqpfY/O4BdYig/bowery.io/48405.css" type="text/css" /> -->

    <script type="text/javascript">
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-46274466-1', 'bowery.io');
    ga('send', 'pageview');
    </script>
    <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("d5c191fd4468894be2824bf288879a18");
    </script>
    <script type="text/javascript" async>
    mixpanel.set_config({debug: true});
    function registerMixpanelUser (e) {
        var email = document.getElementById('newsletter-input').value
        mixpanel.identify(email)
        mixpanel.people.set({'$email': email, 'Subscribed To Newsletter': true})
        return true
    }
    // Everywhere
    mixpanel.track("Viewed " + document.title)
    mixpanel.track_forms(".subscribe", "Subscribed to Newsletter", {"referrer": document.referrer})
    mixpanel.track_links(".track-download", "Downloaded Bowery", {"referrer": document.referrer})

    // Home
    mixpanel.track_links("#download-btn", "Clicked Go to Downloads Button", {"referrer": document.referrer})
    mixpanel.track_links("#full-docs-btn", "Clicked Go to Full Docs Button", {"referrer": document.referrer})

    // Nav
    mixpanel.track_links(".twitter-link", "Click Nav Twitter Link", {"referrer": document.referrer})
    mixpanel.track_links(".github-link", "Click Nav Github Link", {"referrer": document.referrer})
    </script>
</head>
