body {
  background: #f7f7f7;
  min-height: auto;
}

h1,h2,h3,h4,h5,h6{
font-weight:normal;
color:#111;
line-height:1em;
}
h4,h5,h6{ font-weight: bold; }
h1{ font-size: 1.8em; font-weight: 800; }
h2{ font-size:1.4em; border-bottom:1px solid #e5e5e5; padding-bottom: 5px; margin-top: 2em; font-weight: 700;}
h3{ font-size:0.9em; margin-top: 2em; margin-bottom: -0.5em; font-weight: 700; text-transform: uppercase;}
h4{ font-size:0.8em; }
h5{ font-size:0.6em; }
h6{ font-size:0.5em; }

p{
margin:1em 0;
font-size: 0.75em;
}

.side-nav,
.docs-content {
  display: inline-block;
  vertical-align: top;
}

.side-nav {
  background: #fff;
  list-style: none;
  width: 225px;
}

.side-nav-container {
   position: fixed;
   width: 225px;
}

.side-nav-container .btn {
  width: 100%;
  color: white;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

.side-nav > li > a {
  border: 1px solid #e5e5e5;
  color: #23323c;
  display: block;
  font-size: 11px;
  font-weight: 700;
  margin-top: -1px;
  padding: 8px 14px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.side-nav > li > a:hover {
  background: #f5f5f5;
}

.docs-content {
  margin-left: 298px;
  width: 665px;
}

.docs-content p {
  font-family: "Mercury SSm A", "Mercury SSm B", Georgia, "Times New Roman", Times, serif;
}

.docs-content .code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.tagline {
  margin-top: 0.2em;
  font-size: 0.9em;
}

a:-webkit-any-link {
  color: black;
}

pre , code, kbd, samp {
  color: #000;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 0.8em;
  background-color: #FFF;
  border: 1px solid #e5e5e5;
}

pre { 
  white-space: pre; 
  white-space: pre-wrap; 
  word-wrap: break-word; 
  padding: 5px 12px;
}

pre code { 
  border: 0px !important; 
  padding: 0;}
code { padding: 0 3px 0 3px; }

footer.footer {
  position: relative;
}
