* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font: normal 24px "Gotham SSm A", "Gotham SSm B", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

header,
section,
footer {}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -1px;
}

p {
  line-height: 1.5em;
  font-weight: 300;
}

.content {
  margin: 0 auto;
  position: relative;
  width: 960px;
}

.btn {
  display: inline-block;
  text-decoration: none;
}

.btn-primary,
.stripe-button-el {
  background: #1d9682 !important;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.nav {
  border-bottom: 1px solid #eee;
  background-color: #fff;
  background-image: url(../images/header-bar.png);
  background-repeat: repeat-x;
  padding: 10px 0;
}

.logo,
.name,
.links {
  display: inline-block;
}

.logo {
  background-image: url(../images/bowery-logo.png);
  background-size: contain;
  height: 35px;
  position: relative;
  top: 2px;
  width: 35px;
}

.name {
  position: relative;
  text-transform: uppercase;
  top: 5px;
  vertical-align: top;
  letter-spacing: -1px;
  padding-left: 40px;
  color: black;
}

.links {
  list-style: none;
  position: absolute;
  right: 0;
  top: 5px;
}

.links > li {
  display: inline-block;
  margin-left: 40px;
}

.links > li > a {
  color: #23323c;
  font-weight: 700;
  font-size: 0.65em;
  text-decoration: none;
  text-transform: capitalize;
}

.hero {
  background: #23323c;
  background-image: url(../images/hero-background.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: left center;
}

.hero > .content {
  padding: 50px 0;
}

.desc,
.sign-up {
  display: inline-block;
  vertical-align: top;
}

.desc {
  width: 430px;
}

.desc > h1,
.desc > p {
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.site-nav {
  position: fixed;
}

.sign-up {
  margin-left: 173px;
}

.sign-up-form > input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  font: normal 18px "Gotham SSm A", "Gotham SSm B", Helvetica, sans-serif;
  outline: none;
  padding: 10px;
}

.sign-up-form > input:not(:first-child) {
  margin-top: 10px;
}

.sign-up-form > .btn-primary,
.sign-up-form > .stripe-button-el {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin-top: 25px;
  width: 100%;
  text-align: center;
}
.sign-up-form .stripe-button-el,
.sign-up-form .stripe-button-el span,
.sign-up-form .stripe-button-el:active,
.sign-up-form .stripe-button-el span:active
.sign-up-form .stripe-button-el:not(:disabled):active {
  background: #1d9682 !important;
  -webkit-font-smoothing: antialiased;
  font: normal 24px "Gotham SSm A", "Gotham SSm B", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: bold;
  border: none;
}
.sign-up-form .stripe-button-el span {
  padding: 10px 0;
  height: 50px;
  box-shadow: none;
}


.feature-list {
  list-style: none;
  padding: 50px 0;
}

.feature-list > li {
  display: inline-block;
  margin-right: 3%;
  vertical-align: top;
  width: 30%;
}

.feature-list > li > h3 {
  font-size: 0.8em;
}

.feature-list > li > p {
  font-size: 0.65em;
  margin-top: 15px;
  font-family: "Mercury SSm A", "Mercury SSm B", Georgia, "Times New Roman", Times, serif;

}

footer .content {
  border-top: 1px solid #eee;
}
