@media only screen and (max-width: 780px) {
  .content {
    margin: 0 5%;
    width: 90%;
  }

  .links {
    display: none;
  }

  .desc {
    width: auto;
  }

  .desc > h1 {
    font-size: 1em;
  }

  .desc > p {
    font-size: 0.75em;
  }

  .feature-list > li {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .docs {
    padding: 25px 0;
  }

  .side-nav {
    width: 100%;
  }

  .docs-content {
    margin: 25px 0;
    width: 100%;
  }
}
