---
layout: default
title: Bowery - Blog
category: blog
---

<div class="home">
  <div class="post">
    <h1>Building Bowery</h1>
    <p class="blog-description">Thoughts, updates, and announcements about Bowery.</p>
    <p class="RSS link"><a href="http://bowery.io/blog/feed.xml">Subscribe via RSS</a></p>
  </div>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.blogbaseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.tags.size != 0 %} • {% for tag in post.tags %}<a href="{{site.blogbaseurl}}/tag/{{tag}}">{{tag}}</a> {% endfor %}{% endif %}</span>
        <p>{{ post.content | strip_html | truncatewords:75 }}</p>
      </li>
    {% endfor %}
  </ul>
</div>
