---
layout: default
title: Bowery - Blog
category: blog
---

<div class="home">
  <header>
    <div class="title-container">
      <h1>Building Bowery</h1>
      <p>Thoughts, updates, and announcements about Bowery.</p>
      <div class="line"></div>
    </div>
    <aside class="blog-nav">
      <div class="line"></div>
      <h3>Current Release</h3>
      <h1>3.5.0</h1>
    </aside>
  </header>
  <div class="search">
    <i class="search-icon"></i>
    <input type="text" placeholder="search the blog" id="search-input">
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
      function fuzzy_match(str,pattern){
        pattern = pattern.split("").reduce(function(a,b){ return a+".*"+b })
        return (new RegExp(pattern)).test(str)
      }
      var posts = []
      $.getJSON('/search.json', function (data) {
        posts = data
      })

      var initialPostList = $('.post-list').html()
      function searchBlog (e) {
        var term = e.target ? e.target.value : e;
        if (term.length < 1) {
          $('.post-list').html(initialPostList)
          console.log(initialPostList)
          return
        }
        $('.post-list').html('')
        var results = []
        $.each(posts, function (i, p) {
          if (fuzzy_match(p.title.toLowerCase(), term.toLowerCase())) {
            $('.post-list').append([
            '<li>',
              '<a class="post-link" href="', p.url,'">',
                '<div class="post-thumbnail">',
                  '<h2>', p.title,'</h2>',
                '</div>',
              '<p class="post-meta">', p.date, '</p>',
              '</a>',
            '</li>'
            ].join(''))
            results.push(p)
          }
        })
      }
      $('#search-input').keypress(searchBlog.bind(this))
    })
    </script>
  </div>
  <ul class="post-list">
    {% assign blogposts = (site.posts | where: "layout", "post") %}
    {% for post in blogposts %}
        <li class="{% if post.title == blogposts.first.title %}fullwidth{% endif %}">
          <a class="post-link" href="{{ post.url | prepend: site.blogbaseurl }}">
            <div class="post-thumbnail">
              <h2>{{ post.title | truncatewords:7 }}</h2>
              {% if post.title == blogposts.first.title %}
                <p>{{ post.content | strip_html | truncatewords:35 }}</p>
              {% else %}
                <p>{{ post.content | strip_html | truncatewords:15 }}</p>
              {% endif %}
              <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }} - {% for tag in post.tags %} <span class="post-tag" href="/tag/{{ tag }}">{{ tag }}</span> {% endfor %}</p>
            </div>
          </a>
        </li>
    {% endfor %}
  </ul>
</div>