* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.post .back.btn {
  width: 100%;
  height: 80px;
  color: white;
  background: #5C82E2;
  /*background: #4867DE;*/
  display: block;
  padding: 30px;
  font-family: "Monosten A";
  font-size: 14px;
  letter-spacing: 2px;
  text-decoration: none;
  line-height: 26px;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
}
.post {
  padding: 140px 115px;
}
.blog.coffin {
  background: #4f639f;
}
.arrow {
  width: 22px;
  height: 22px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  float: left;
}
.arrow.right {
  float: right;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.post header {
  width: 100%;
  max-width: 970px;
}
.post img {
  width: 100%;
  max-height: 635px;
  display: block;
  margin: 0;
}
.post h1 {
  margin: 52px 0;
  font-family: "Monosten E";
  font-size: 52px;
  color: rgb(25, 25, 25);
}
.post aside {
  width: 110px;
  float: left;
  margin-right: 100px
}
.post article {
  width: 100%;
  max-width: 570px;
  float: left;
  font-family: Helvetica;
}
.post article a,
.post article p,
.post-list a,
.post-list p {
  font-family: Helvetica;
  text-decoration: none;
  font-weight: 500;
}
.comments {
  display: block;
  overflow: hidden;
  width: 570px;
  margin-left: 210px;
  margin-bottom: 100px;
}
.comments .logo-break {
  display: block;
  width: 50px;
  margin: 90px auto;
}
.home header {
  background: #5c82e2;
  height: 480px;
  width: 100%;
  padding: 30px 60px;
  color: white;
}
.home header h1 {
  font-size: 64px;
  letter-spacing: 6px;
  font-family: "Monosten E";
  max-width: 400px;
}
.home header p {
  color: white;
  font-size: 14px;
  font-family: Helvetica;
  margin-top: 120px;
  max-width: 220px;
  font-weight: 500;
}
.home header .line {
  width: 34px;
  border-top: 1px solid white;
  margin-top: 35px;
}
.home .title-container {
  width: 360px;
  float: left;
}
.home .blog-nav {
  width: 240px;
  float: right;
}
.home .blog-nav h3 {
  margin-top: 20px;
  font-family: "Monosten e";
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
}
.home .blog-nav .line {
  margin-top: 10px;
}
.search {
  width: 100%;
  height: 100px;
  padding: 39px 35px 39px 80px;
  background: #7494e7;
  position: relative;
}
.search-icon {
  background: url(/static/search-icon.png) no-retpeat;
  background-size: contain;
  position: absolute;
  left: 40px;
  top: 40px;
  width: 20px;
  height: 20px;
}
.search input[type="text"] {
  background: #7494e7;
  border: none;
  outline: 0;
  color: white;
  font-family: "Monosten A";
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 100%;
}
.search ::-webkit-input-placeholder {
  color: white;
}
.search ::-moz-input-placeholder {
  color: white;
}
.search ::-ms-input-placeholder {
  color: white;
}
.search input[type="submit"] {
  -webkit-appearance: none;
  background: none;
  height: 100px;
  float: left;
  color: white;
  font-family: "Monosten E";
  font-size: 14px;
  letter-spacing: 2px;
}
.post-list h2,
.post-list a.post-link {
  color: rgb(25, 25, 25);
  font-family: "Monosten A";
  font-size: 32px;
  text-decoration: none;
}
.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.post-list li {
  border: 1px solid rgb(245, 245, 245);
  float: left;
  margin: 0;
  padding: 60px 40px;
  width: 30%;
  height: 380px;
}
.post-list li:first-child {
  width: 100%;
  height: auto;
}
.post-list li:first-child h2,
.post-list li:first-child p,
.post-list li:first-child .post-meta {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.post-meta {
  color: rgb(25, 25, 25);
  font-family: "Monosten A";
  text-transform: uppercase;
  margin-top: 40px;
}
.post-meta a {
  text-transform: uppercase;
  font-family: "Monosten E";
  color: #828282;
}
.coffin.blog .nav li a:hover {
  text-decoration: none;
}


