:root {
  --white: white;
  --grey: rgb(245, 245, 245);
  --turquoise: rgb(55, 212, 213);
  --blue: rgb(15, 39, 67);
  --blue-secondary: rgb(10, 32, 57);
  --medium-blue: rgb(79, 113, 193);
  --medium-blue-secondary: rgb(74, 101, 163);
  --medium-turquoise: rgb(34, 179, 195);
  --medium-turqouise-secondary: rgb(35, 163, 177);
  --dark-turquoise: rgb(45, 183, 182);
  --light-blue: rgb(109, 171, 207);
  --light-blue-secondary: rgb(100, 156, 188);
  --red: rgb(253, 106, 87);
  --images-blue: rgb(23, 52, 153);
  --images-light-blue: rgb(90, 113, 183);

  --type: rgb(25, 25, 25);
  --type-light: white;

  --nav-border-color: rgb(174, 176, 179);

  --long-transition-duration: 500ms;
  --short-transition-duration: 250ms;
}
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, button {
  font-family:"Monosten A", Courier, monospace;
  font-size-adjust:0.5;
  font-weight:normal;
  font-style:normal;
  line-height: 1;
  color: var(--type);
}
h2 {
  font-family:"Monosten E", Courier, monospace;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 6px;
}
body, input, textarea, option, select {
  font-family:"Monosten E", Courier, monospace;
  font-size-adjust:0.5;
  font-weight:300;
  font-style:normal;
  color: var(--type);
}
a, p, span, li {
  font-family: Helvetica;
  /*letter-spacing: 1px;*/
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
a:visited,
a:active,
a:focus,
a:link,
a {
  color: var(--type);
}

ol li {
  margin-left: 22px;
}

body, .page {
  /*background-color: var(--turquoise);*/
  margin: 0;
  padding: 0;
}

p {
   max-height: 999999px; /*disable mobile text auto resizing*/
}

/**
 * Start Page
 */
.page.start {
  background: var(--turquoise);
}
.coffin.start {
  background: rgb(46, 152, 159) repeat;
}

/**
 * Images Page
 */
.coffin.images {
  background: rgb(5, 32, 107) repeat;
}
.images-list {
  list-style: none;
}
.image-logo {
  margin: 0 auto;
  width: 112px;
  display: block;
  height: 138px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 50%;
}
.image-container {
  width: 155px;
  margin: 42px;
  float: left;
  min-height: 220px;
}
.image-title {
  text-align: center;
  font-size: 16px;
  line-height: 34px;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
}
.image-description {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: var(--nav-border-color);
  text-transform: none;
  text-decoratoin: none;
  letter-spacing: 0;
}

.modal-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 100;
}
.modal-content {
  position: fixed;
  width: 50%;
  background: rgba(149, 95, 210, 1);
  padding: 40px 55px;
  opacity: 1 !important;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-content h1 {
  color: white;
}
.modal-content .description {
  border-top: 1px solid white;
  margin: 15px 0;
  padding: 25px 0;
}
.modal-content .data h3 {
  border-bottom: 1px solid white;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.modal-content .data dl {
  width: 100%;
  overflow: hidden;
}
.modal-content .data dt,
.modal-content .data dd {
  font-size: 14px;
  float: left;
  width: 50%;
}
.modal-content .data dd {
  text-align: right;
}

.search-box {
  width: 100%;
  height: 97px;
}
.search-input {
  border: 0;
  width: calc(100% - 30px);
  height: 100%;
  padding: 24px 35px;
  background: var(--images-light-blue);
  background: url(/static/search-icon.png);
  background-color: var(--images-light-blue);
  background-size: 30px;
  background-position: 20px 50%;
  background-repeat: no-repeat;
  text-indent: 30px;
  outline: none;
  color: white;
  font-size: 16px;
}

/**
 * Learn More Page
 */

.learn.coffin {
  background: rgb(53, 29, 77) repeat;
}


/**
 * Content
 */
.content-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  min-height: 440px;
  overflow: hidden;
}
.content-container.left {
  overflow: hidden;
  background: white;
  width: 50%;
  height: 630px;
  float: left;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}
.content-container.right {
  overflow: hidden;
  background: var(--grey);
  width: 50%;
  height: 630px;
  float: right;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
.content-container.left .content {
  float: right;
  padding: 80px 52px;
  width: 100%;
  max-width: 600px;
}
.content-container.right .content {
  float: left;
  padding: 40px 52px;
  width: 100%;
  max-width: 600px;
}

.content {
  display: inline-block;
  /*max-width: 548px;*/
  min-width: 353px;
  width: 50%;
  float: left;
  padding: 0;
  overflow: hidden;
}
.subcontent {
  margin-top: 30px;
  display: inline-block;
  width: 100%;
  min-width: 353px;
}


/**
 * Header? TODO (thebyrd) make these general
 */
.images .outer-header {
  background: var(--images-blue);
}
.header {
  background: var(--turquoise);
  color: var(--white);
  padding: 80px 52px;
}
.images .header {
  background: var(--images-blue);
  height: auto;
  padding: 100px 52px;
  min-height: 0;
}
.header h1 {
  color: var(--white);
  font-size: 62px;
  line-height: 72px;
  font-family:"Monosten E", Courier, monospace;
  letter-spacing: 11px;
  margin-bottom: 20px;
}

.header a,
.header p {
  color: var(--white);
  text-decoration: none;
}
.header a:hover {
  text-decoration: underline;
}

/**
 * Buttons
 */
.btn {
  background: none;
  border: 0;
  appearance: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 5px;
  outline: none !important;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.btn:hover {
  color: var(--type);
}
.btn.download {
  color: white;
  background: var(--turquoise);
  padding: 24px;
}

.btn .accent {
  font-family:"Monosten A", Courier, monospace;
  float: right;
  color: var(--type);
  font-size: 16px;
  line-height: 16px;
  opacity: 0.5;
  text-transform: none;
}
.btn.download:hover {
  background: rgb(46, 152, 159) repeat;
}
.btn.link {
  background: transparent;
  border: 0;
  width: auto;
  text-transform: none;
}

.screenshot {
  width: 100%;
}

/**
 * Footer
 */
.footer {
  min-height: 155px;
  width: 100%;
  max-width: 1200px;
  background: var(--turquoise);
  color: white;
  margin: 0 auto;
  overflow: hidden;
  padding: 52px;
}
.footer h2 {
  font-size: 48px;
  line-height: 48px;
  float: left;
  color: white;
}
.footer h3 {
  float: right;
  font-size: 24px;
  padding: 13px 0;
  color: white;
  cursor: pointer;
}

/* home page */
.coffin.home,
.container-inner {
  transition: background var(--long-transition-duration);
}

.page.home {
  position: fixed;
  width: 100%;
  height: 100%;
}

.container-inner {
  width: 100%;
  height: 100%;
  position: fixed;
}

.container-intro > .coffin.home {
  background: var(--blue-secondary)
}
.container-intro > .page.home > .container-inner {
  background: var(--blue);
}

.container-add > .coffin.home {
  background: var(--medium-blue-secondary);
}
.container-add > .page.home > .container-inner  {
  background: var(--medium-blue);
}

.container-choose > .coffin.home {
  background: var(--medium-turqouise-secondary);
}
.container-choose > .page.home > .container-inner {
  background: var(--medium-turquoise);
}

.container-share > .coffin.home {
  background: var(--light-blue-secondary);
}
.container-share > .page.home > .container-inner  {
  background: var(--light-blue);
}

.container-try > .coffin.home,
.container-try > .page.home > .container-inner  {
  background: var(--dark-turquoise);
}

.wrapper {
  display: none;
}

section {
  width: 100%;
  height: 100%;
  position: fixed;
}

section.visible {
  display: block;
}

.step-content {
  position: fixed;
}

.intro-step-content {
  background-image: url(/static/bgnd-logo.png);
  background-size: 515px;
  background-repeat: no-repeat;
  background-position: right top;
}

.intro-step-inner-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.intro-step-inner-wrapper > h1 {
  font-size: 70px;
  line-height: 1.2em;
  width: 600px;
  color: white;
}

.intro-step-inner-wrapper > ul {
  color: var(--red);
  list-style: none;
  width: 300px;
  display: inline-block;
  position: relative;
  left: 300px;
  top: -25px;
  font-size: 20px;
}

.intro-step-inner-wrapper > ul > li {
  margin-bottom: 20px;
}

.intro-step-inner-wrapper > a {
  font-family: "Monosten E", Courier, monospace;
  text-transform: uppercase;
  color: white;
  position: relative;
  top: -125px;
  display: block;
  text-decoration: none;
  width: 100px;
  letter-spacing: 2px;
}

.intro-step-inner-wrapper > a:hover {
  text-decoration: underline;
}

.intro-step-inner-wrapper .arrow-down {
  background-image: url(/static/arrow-down.png);
  width: 28px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left: calc(50% - 21px);
  top: 10px;
}

.step-content {
  position: relative;
  width: 960px;
  height: 100%;
  margin: 0 auto;
}

.step-content > .step-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.step-description {
  width: 400px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.step-description > h3,
.step-description > p {
  color: white;
}

.step-description > h3 {
  font-size: 32px;
}

.step-description > p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}

.app-view {
  width: 512px;
  height: 597px;
}

#add .app-view {
  background-image: url(/static/create-app.png);
}

#choose .app-view,
#share .app-view {
  background-image: url(/static/images-screen.png);
}

aside {
  position: fixed;
  left: 0;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
}

.step-list {
  list-style: none;
  opacity: 0;
  transition: opacity var(--short-transition-duration);
}

.step-list.visible {
  opacity: 1;
}

.step-list > li {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 18px;
  color: white;
  font-family: "Monosten A", Courier, monospace;
  margin: 15px 0;
  text-align: center;
  line-height: 32px;
}

.step-list > li:hover {
  background: white;
  cursor: pointer;
}

.step-list > li.active {
  background: white;
}

li.active:first-child {
  color: var(--medium-blue);
}

li.active:nth-child(2) {
  color: var(--medium-turquoise);
}

li.active:last-child {
  color: var(--light-blue);
}

.choose-step-content > .step-description > ul {
  color: white;
  text-transform: uppercase;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid white;
  list-style: none;
  column-count: 2;
}

.choose-step-content > .step-description > ul > li {
  font: 16px normal "Monosten E", Courier, monospace;
  letter-spacing: 1px;
  padding: 7px 0;
}

a.see-all-images {
  font: 16px normal "Monosten E", Courier, monospace;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  position: relative;
  top: 20px;
}

.step-content > .step-item.chat-window {
  background-image: url(/static/chat-window.png);
  width: 300px;
  height: 374px;
  background-size: contain;
  position: fixed;
}

.try-step-content {
  text-align: center;
}

.get-started-wrapper {
  height: 300px;
  width: 600px;
  margin: 0 auto;
  color: white;
  background-color: rgb(70, 218, 220);
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  text-align: center;
}

.get-started-wrapper > a {
  font-family: "Monosten E", Courier, monospace;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  font-size: 28px;
  letter-spacing: 5px;
}

.get-started-wrapper > a:hover {
  text-decoration: underline;
}

a.learn-more {
  color: white;
  font-family: "Monosten E", Courier, monospace;
  text-decoration: none;
  text-transform: uppercase;
  position: fixed;
  bottom: 0;
  font-size: 16px;
}
a.learn-more:hover {
  text-decoration: underline;
}

/**
 * Ghetto Responsiveness
 */
@media screen and (max-width: 1100px), screen and (max-device-width: 1100px) {
  aside {
    display: none;
  }
}

@media screen and (max-width: 985px), screen and (max-device-width: 985px) {
  /*Hide search & remove logo container's right border*/
  .nav-search-container {
    display: none;
  }
  .nav-logo-container {
    border-right: 0;
  }

  /* Hide button accents*/
  .btn .accent {
    display: none;
  }

  /* Make button text centered*/
  .btn {
    text-align: center;
  }
}

@media screen and (max-width: 807px), screen and (max-device-width: 807px) { /*744px*/
  /* TODO (thebyrd) hide items & enable drawer*/
  .nav-item-container {
    display: none;
  }
  /* have split content stack*/
  .content-container.right,
  .content-container.left {
    width: 100%;
    min-height: 0;
    height: auto;
  }
  .content {
    width: 100%;
    margin: 0 auto;
    max-width: 807px !important;
  }
}

@media screen and (max-width: 477px), screen and (max-device-width: 477px) {
  .subscribe {
    display: none;
  }

  .header h1 {
    letter-spacing: 0;
  }
  .content,
  .subcontent {
    min-width: 0;
  }
  .btn {
    width: auto;
  }

  .image-container {
    float: none;
    display: block;
    margin: 42px auto;
  }

  .container {
    width: 100%;
  }

  .container-inner {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    position: relative;
  }

  .page.home {
    position: relative;
  }

  section,
  section.wrapper,
  section.visible {
    width: 100%;
    display: block;
    position: relative;
    height: auto;
  }

  aside {
    display: none;
  }

  .step-content {
    width: 100%;
    transform: none;
    top: 0;
  }

  .step-content > .step-item.chat-window {
    transform: none;
    position: relative;
    display: none;
  }

  #intro {
    background: var(--blue);
  }

  #add {
    background: var(--medium-blue);
  }

  #choose {
    background: var(--medium-turquoise);
  }

  #share {
    background: var(--light-blue);
  }

  #try {
    background: var(--dark-turquoise);
  }

  .intro-step-content {
    background-position: 150px 0;
    background-size: 250px;
  }

  .intro-step-inner-wrapper {
    top: 55px;
    transform: none;
  }
  .intro-step-inner-wrapper > h1 {
    font-size: 32px;
    width: 90%;
    padding: 5%;
  }
  .intro-step-inner-wrapper > ul {
    left: 35%;
    width: 55%;
    padding: 5%;
  }
  .intro-step-inner-wrapper > ul > li {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.1em;
  }
  .intro-step-inner-wrapper > a {
    padding: 5%;
    top: -110px;
    width: calc(100px + 10%);
  }

  .step-content > .step-item {
    transform: none;
    top: 0;
  }

  .step-description {
    width: 100%;
    padding: 5%;
  }
  .step-description > h3 {
    font-size: 22px;
  }

  #choose ul {
    list-style: none;
  }

  .get-started-wrapper {
    display: block;
    transform: none;
    top: 0;
    text-align: center;
    padding: 40px 0;
    height: auto;
    width: 100%;
  }
  .get-started-wrapper > a {
    font-size: 24px;
  }
  a.learn-more {
    position: relative;
    display: block;
    font-size: 18px;
    padding: 40px 0;
  }

  .search-input {
    width: 100%;
    border-radius: 0;
  }

  .modal-content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 30px;
  }
  .modal-content > .modal-exit {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .modal-content > .modal-exit:before {
    content: "\2716";
  }
}
