/*
 * Coffin.css V1.0.0
 * Copyright 2012, @fat
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Table of Contents
==================================================
    #Core   (Coffin)
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape) */

/*  #Core (Coffin)
================================================== */

html,
body {
  overflow-x: hidden;
  /*background: rgb(46, 152, 159) repeat;*/
}
.padding {
  height: 50%;
  margin-top: 0;
}
.page {
  position: relative;
  z-index: 10;
  background: #fff;
  width: auto;
  overflow: hidden;
  transform: translate3d(80px, 0, 0);
}
.logo {
  width: 52px;
  height: 54px;
  background: url('/static/transparent-logo.png');
  display: block;
  margin: 13px;
  background-size: contain;
  outline: none;
  border: 0;
}
.coffin {
  display: none;
  z-index: 5;
  background: rgb(10, 32, 57) repeat;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 270px;
  margin-left: 0;
  overflow: auto;
  display: block;
}
.coffin-open,
.coffin-pulling {
  display: block;
}
.coffin .pillow {
  padding-left: 25px;
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  color: #CCC;
  background: #111;
  border-bottom: 1px solid black;
}
.coffin .nav {
  margin-top: -135px;
  opacity: 0;
          transition: opacity .1s;
       -o-transition: opacity .1s; /* Opera */
     -moz-transition: opacity .1s; /* Firefox 4 */
  -webkit-transition: opacity .1s; /* Safari and Chrome */
}
.coffin-open .nav {
  opacity: 1;
}
.coffin .nav li {
  margin-bottom: 0;
}
.coffin .nav li a {
  font-family:"Monosten A", Courier, monospace;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: block;
  padding-left: 25px;
  font-weight: bold;
  font-size: 15px;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
}
.coffin .nav li a:hover,
.coffin .nav li a.active {
  background: rgba(0, 0, 0, 0.1);
}
.coffin-remote:hover,
.coffin-remote {
  position: absolute;
  left: 10px;
  top: 10px;
  border: 0;
  padding: 7px 10px;
  background: #fff;
  opacity: 1;
        transition: opacity .4s;
     -o-transition: opacity .4s; /* Opera */
   -moz-transition: opacity .4s; /* Firefox 4 */
-webkit-transition: opacity .4s; /* Safari and Chrome */

}
.coffin-remote:hover {
  opacity: .8;
}
.coffin-remote-bar {
  display: block;
  width: 18px;
  height: 2px;
  margin-top: 4px;
  background-color: #ddd;
}

/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (max-width: 959px) {
  .container {
    width: 556px;
  }
}

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
  .container {
    width: 300px;
    margin: 0 auto;
  }
}

/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px;
  }
}
