---
layout: default
category: docs
---

<header>
	<div class="inner-header">
		<a href="/docs" class="title">
			<img class="logo" src="/static/logo.png">
			<h1>Docs</h1>
		</a>
		<button class="mobile-nav-btn" onclick="toggleNav()">Nav</button>
		<script type="text/javascript">
		function toggleNav() {
			var el = document.querySelector('.docs aside')
			if (!el.style.display) el.style.display = 'none'
			console.log(el.style.display, 'before')
			el.style.display = el.style.display == 'none' ? 'block' : 'none'
			console.log(el.style.display, 'after')
		}
		</script>
		<ul class="nav">
			<li>
				<a href="/docs/downloads/">Downloads</a>
			</li>
			<li>
				<a href="https://www.youtube.com/watch?v=XEp-XptWgMc" target="_blank">Demo</a>
			</li>
			<li>
				<a href="https://groups.google.com/forum/#!forum/bowery" target="_blank">Support</a>
			</li>
		</ul>
	</div>
</header>
<aside>
	<ul class="nav">
	{% for p in site.posts %}
		{% if p.layout == "docs" %}
		<li>
			<a class="{% if p.title == page.title %}selected{% endif %}" href="{{ p.url }}">{{ p.title }}</a>
		</li>
		{% endif %}
	{% endfor %}
	<ul>
</aside>
<div class="container">
    {{ content }}
</div>
