---
layout: default
category: events
---
<div class="container">
  <div class="header">
    <h1>{{page.title}}</h1>
    <div class="info">
      <h3 class="time">{{page.time}}</h3>
      <p class="description">{{page.description}}</p>
    </div>
  </div>
  <form class="form">
    {% for f in page.fields %}
      {% for field in f %}
        <input class="field" type="text" placeholder="{{field[1]}}" name="{{field[0]}}">
      {% endfor %}
    {% endfor %}

<input type="text" class="btn skeleton event-registration-btn" name="name" placeholder="Name"><br/>
<input type="text" class="btn skeleton event-registration-btn" name="address1" placeholder="Address Line 1"></br>
<input type="text" class="btn skeleton event-registration-btn" name="address2" placeholder="Address Line 2"></br>
<input type="text" class="btn skeleton event-registration-btn" name="city" placeholder="City"></br>
<input type="text" class="btn skeleton event-registration-btn" name="zip" placeholder="Zip or Postal Code"></br>
<input type="text" class="btn skeleton event-registration-btn" name="country" placeholder="Country"></br>
<input type="text" class="btn skeleton event-registration-btn" name="email" placeholder="Email"></br>

<input type="submit" class="btn skeleton event-registration-btn" onclick="trackEventRegistration()" value="register &rarr;"></br>

  </form>
</div>

<script type="text/javascript">
  var title = "{{page.title}}"
  function trackEventRegistration() {
    var emailEl = document.querySelector('input[name="email"]')
    var email = emailEl && emailEl.value
    var nameEl = document.querySelector('input[name="name"]')
    var name = nameEl && nameEl.value
	var address1El = document.querySelector('input[name="address1"]')
    var address1 = address1El && address1El.value
	var address2El = document.querySelector('input[name="address2"]')
    var address2 = address2El && address2El.value
	var cityEl = document.querySelector('input[name="city"]')
    var city = cityEl && cityEl.value
	var zipEl = document.querySelector('input[name="zip"]')
    var zip = zipEl && cityEl.value
	var countryEl = document.querySelector('input[name="country"]')
    var country = countryEl && countryEl.value
    mixpanel.identify(email, {
	$email: email,
	$name: name,
	address: {address1, address2, city, country,  zip},
})
    mixpanel.track("registered for: " + title)
	document.querySelector('input[type="submit”]’).value = “Thanks for your submission!"
	
  }

</script>
<script>
var redraw
  , listen = document.addEventListener
listen('DOMContentLoaded', redraw = function () {
  var el = document.querySelector('.page.events .container')
  if (el) el.style.minHeight = (window.innerHeight - 285) + "px"
})
listen('resize', redraw)
</script>
