<div class="coffin blog" data-coffin="toggle">
  <button class="logo"></button>
  <div class="padding"></div>
  <ul class="nav">
    <li>
      <a data-coffin="click" href="/">Home</a>
    </li>
    <li>
      <a data-coffin="click" href="/images">Images</a>
    </li>
    <li>
      <a data-coffin="click" href="/start">Get Started</a>
    </li>
  </ul>
  <div class="nav-footer">
    <ul>
      <li>
        <a data-coffin="click" href="/blog/">Blog</a>
      </li>
      <li>
        <a data-coffin="click" href="/faq">FAQs</a>
      </li>
      <li>
        <a data-coffin="click" href="mailto:team@bowery.io">Contact</a>
      </li>
    </ul>
  </div>
</div>
